.root {
    background-color: #131313;
}

.proverka {
    color: white;
    border-radius: 2px;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 21.78px;
}

.link {
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    border-radius: 2px;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 21.78px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100px;
    width: 300px;
}

.textarea {
    resize: none;
    border: 0;
    margin-bottom: 10px;
    border-radius: 2px;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 21.78px;
}

.textarea:focus {
    outline: none;
}

.checkbtn {
    cursor: pointer;
    background-color: #4d4d4d;
    color: white;
    border: 0;
    border-radius: 2px;
    opacity: 1;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 21.78px;
    transition: opacity .2s ease;
}

.checkbtn:hover {
    opacity: .8;
}