.root {
    background-color: #131313;
    margin: 20px;
    width: 340px;
    height: 340px;
}

.title {
    color: white;
    border-radius: 2px;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 21.78px;
    margin: 0 0 0 10px;
    width: 250px;
}

.link {
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    border-radius: 2px;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 21.78px;
    transition: opacity .2s ease;
}

.link:hover {
    opacity: .8;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100px;
    width: 100%;
}

.textarea {
    resize: none;
    border: 0;
    margin-bottom: 15px;
    border-radius: 2px;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 21.78px;
}

.textarea:focus {
    outline: none;
}

.checkbtn {
    cursor: pointer;
    background-color: #4d4d4d;
    color: white;
    border: 0;
    border-radius: 2px;
    opacity: 1;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 21.78px;
    transition: opacity .2s ease;
}

.checkbtn:hover {
    opacity: .8;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 20px 0;
}

.settings {
    background-image: url(/images/settings.svg);
    width: 32px;
    height: 32px;
    margin: auto 10px auto 0;
    transition: opacity .2s ease, transform .7s ease;
}

.settings:hover {
    opacity: .8;
    transform: rotate(180deg);
}